html,body,div,h1,p,img,a{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #001e31;
    color: aliceblue;
}

html{
    height: 10000px;
}

#header img{
    width: 99vw;
}

h1{
    text-align: center;
    margin: 50px 0 20px;
}

#profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon{
    width: 25%;
    margin: 0 0 0 10vw;
}

#icon img{
    width: 100%;
}

#myData{
    margin: auto 50px;
}

p{
    margin: 10px;
}

#myName{
    font-size: 25px;
}

#gakureki{
    width: 500px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
}

.table_title{
    font-weight: bold;
}

#hobby{
    margin: 0 auto;
    text-align: center;
}

ul{
	display: inline-block;
}

.list_title{
    text-align: left;
    font-size: 20px;
}

.list_discription{
    margin: 5px 0 30px;
    text-align: left;
}

.product{
    text-align: center;
    margin: 20px 0 50px;
}

.product_img{
    width: 400px;
    margin: 0 20px;
}

.product_title{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.work_img{
    width: 700px;
    margin: 20px;
}

.return{
    text-align: center;
    margin: 100px;
}

#return_top{
    text-align: center;
    font-size: 15px;
}